<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Dashboard</title>
    </head>
    <body>
      <section class="hero">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
              ResNet Dashboard
            </h1>
            <h2 class="subtitle">
              Don't forget to clock in
            </h2>
          </div>
        </div>
      </section>

      <div id=shifts>?</div>

      <nav class='level'>
        <div id=shifts-rcc class='level-left'>
        </div>
        <div id=shifts-stevenson class='level-right'>
        </div>
      </nav>

      <table class="table">
        <thead>
          <tr>
            <th><abbr title="task">Task</abbr></th>
            <!-- <th><abbr title="description">Description</abbr></th> -->
          </tr>
        </thead>
        <tbody id=tasks>

        </tbody>
      </table>

      <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
      <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
    </body>
  </html>
