<!doctype html>
  <html style = "overflow-y:hidden">
    <head>
      <title>Dashboard</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:600" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
      <!-- <script type="text/javascript" charset="utf-8">
      </script> -->
    </head>
    <body>
      <nav class="level">
        <div class="level-left">
            <figure class="image is-128x128">
              <img src="https://avatars.sched.co/0/AA/3010208/avatar.jpg?1c3">
            </figure>
            <h1 class="title is-1">ResNet</h1>
        </div>
        <div>
          <a class="button is-info">
            <span>Sound</span>
          </a>
        </div>
        <div id="housecall"></div>
      </nav>
      <nav class="level">
        <div class="level-left">
          <div id="wiw-rcc" class="columns"></div>
        </div>
        <div class="level-right">
          <div id="wiw-stevenson" class="columns"></div>
        </div>
      </nav>
      <div class="columns">
        <div class="column is-narrow">
          <table class="table">
            <thead>
              <tr>
                <th><abbr title="task" class="is-size-2">Technician Tasks</abbr></th>
              </tr>
            </thead>
            <tbody id="tasks"></tbody>
          </table>
        </div>
        <div class="column">
          <table class="table">
            <thead>
              <tr>
                <th><abbr title="ticket" class="is-size-2">ITR Tickets</abbr></th>
              </tr>
            </thead>
            <tbody id="tickets"></tbody>
          </table>
        </div>
      </div>
    </body>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="{{ url_for("static", filename="js/dashboard.js") }}"></script>
  </html>
